global
    log /dev/log local0
    maxconn 2048
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http
    bind *:80
    acl is_jobscout path_beg /jobscout
    use_backend jobscout if is_jobscout

backend jobscout
    http-request replace-path /jobscout/(.*) /\1
    http-request replace-path /jobscout /
    server app 127.0.0.1:8080 check
